@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --title-font-family: "Lato", sans-serif;
    --default-font-family: "Lato", sans-serif;

    /* Define colors here*/

    /* Using black and white defaults for text */
    --default-text-color: #000000;
    --default-light-text-color: #ffffff;

    --vt-maroon: #861f41;
    --vt-burntOrange: #e5751f;
    --vt-hokieStone: #75787b;
    --vt-white: #FFFFFF;
    --vt-purple: #642667;
    --vt-pink: #ce0058;
    --vt-yellow: #f7ea48;
    --vt-teal: #508590;
    --vt-turquoise: #2cd5c4;
    --vt-grey: #d7d2cb;
    --vt-smoke: #e5e1e6;
    --vt-impactOrange: #ca4f00;

}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    line-height: 1;
}

p {
    line-height: 1.5;
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.flow-content > * + * {
    margin-top: 1rem;
}

.container {
    padding: 1rem;
}

body {
    margin: 0 auto;
    max-width: 100vw;
    /* Add colors here*/
}

.button, .button:visited {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    cursor: pointer;
}

.button:hover, .button:active {
    /* Add stuff here */
}

a, a:visited {
    /* properties here */
}

a:hover, a:active {
    /* properties here */
}